<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 服务管理</title>
</head>
<body>
    <div>
        <p style="color:red ;">布局页面的内容</p>
        @Html.ActionLink("主页","Index")
    </div>
    <div class="container body-content">
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p style="color:red ;">这里属于布局页的页脚</p>
        </footer>
    </div>
</body>
</html>
