@model IEnumerable<SercicesMS.Models.Service>
@{
    ViewBag.Title = "首页";

}

<h2>首页</h2>


@foreach (var item in Model)
{
   
        string x;
        if (item.Pic_Path == null)
        {
            x = "/File/no_picture.png";
        }
        else
        {
            x = item.Pic_Path;
        }

  

    <div style="margin-bottom:40px;">
        <a href=" http://@item.S_Path">
            <img src="@x" height="120" width="180" /><br />
            @Html.DisplayFor(modelItem => item.S_Name)
        </a>


    </div>

}
