@model IEnumerable<SercicesMS.Models.Service>
@{
    ViewBag.Title = "首页";

}
<div class="page-header">
    <h2>首页</h2>
</div>


@Html.ActionLink("列表显示", "Inf")
<div class="row">
    @foreach (var item in Model)
    {
        string x;
        if (item.Pic_Path == null)
        {
            x = "/File/no_picture.png";
        }
        else
        {
            x = item.Pic_Path;
        }
        <div class="col-sm-4 col-md-3" style="height:310px">
            <a href=" http://@item.S_Path" class="thumbnail">
                <div style=" height:100% ; width:100%">
                    <img src="@x" style=" height:100%  ;width:100%" /><br />
                </div>
                   
               
               
                <div class="caption">
                    <h4> @Html.DisplayFor(modelItem => item.S_Name)</h4>
                    <small>用户名：@item.S_User </small><br/>
                    <small>密码：@item.S_Pwd</small>
                </div>
            </a>
        </div>
    }
</div>

