
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
@*提交前预览，跟控制器没关系*@
<div>
    <p>
        图片上传前预览：<input type="file" id=" xdaTanFileImg" onchange="xmTanUploadImg(this)" accept="image/*"/>
        @*<input type="button" value=" 隐藏" onclick="document.getElementById('xmTanImg').style.display = 'none';"/>
        <input type="button" value=" 显示" onclick="document.getElementById('xmTanImg').style.display = 'block';"/>*@
    </p>
    <img id="xmTanImg" height="200"/>
    <div id="xmTanDiv"></div>
</div>
<hr />
<script type="text/javascript">
    //判断浏览器是否支持FileReader接口

    if (typeof FileReader == 'undefined') {
        document.getElementById('xmTanDiv').innerHTML = "<h1>当前浏览器不支持FileReader接口</h1>";
        //使选择控件不可操作
        document.getElementById("xdaTanFileImg").setAttribute("disabled", "disabled");
    }
    function xmTanUploadImg(obj) {
        var file = obj.files[0];
        console.log(obj);
        console.log(file);
        console.log("file.size = " + file.size);  //file.size 单位为byte
        var reader = new FileReader();
       

        //读取文件过程方法
        reader.onloadstart = function (e) {
            console.log("开始读取....");
        }
        reader.onprogress = function (e) {
            console.log("正在读取中....");
        }
        reader.onabort = function (e) {
            console.log("中断读取....");
        }
        reader.onerror = function (e) {
            console.log("读取异常....");
        }
        reader.onload = function (e) {
            console.log("成功读取....");

            var img = document.getElementById("xmTanImg");
            img.src = e.target.result;
            //或者 img.src = this.result;  //e.target == this
        }

        reader.readAsDataURL(file)



    }

</script>
@*上传文件，与控制器有关*@
@*
<form action="/Home/UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" /><br />
    <input type="submit" value="提交"/>
</form>*@
